@import "./variables";
@import "./mixins";

/*
  Styling for forms and form elements
*/

input[type], textarea, select {
  &:not([type=checkbox]) {
    height: $element-height;
  }

  &[disabled] {
    background-color: #eaeded;
    color: #cad2d3;
  }

  &:invalid {
    color: #b94a48;
    &:focus {
      outline-color: #b94a48;
    }
  }

  display: inline-block;
  border: 1px solid #ccc; // stylelint-disable-line unit-whitelist
  border-radius: 0.25rem;
  vertical-align: middle;
  box-sizing: border-box;

  margin: 0;
  width: 100%;
  padding: $padding;
}

label.checkbox {
  display: inline-block;
  margin: $padding;

  input[type=checkbox] {
    margin-left: $padding;
    height: $element-height / 2;
    width: $element-height / 2;
  }
}

fieldset {
  margin: $padding;
  padding: 0;
  border: none;

  * {
    margin: ($padding/2) 0;
  }
}
