/*
  PureCSS Overrides
*/

.pure-form {
  input[type], textarea, select {
    margin: 0em;
  }
}

.pure-button {
  background-color: $accent-color;
  color: white;
  border-radius: $border-radius;
  height: 2.5em;
  box-shadow: $shadow-dist $shadow-dist $shadow-blur $shadow-color;
  margin: $padding;
}

.pure-menu-heading {
  padding: $padding;
  * {
    display: inline-block;
    font-size: 2.5em;
    line-height: 100%;
  }
}
