/*
  Search Fields
*/

@import "./shadows";

$searchicon-size: 1.5em;

.searchfield {
  overflow: visible;
  color: $primary-text-color;
  position: relative;

  .pure-control-group {
    margin-bottom: 0;
  }

  fieldset {
    padding: 0;
  }

  .searchfield-dropdown-wrapper {
    position: relative;
    width: 12.875em;
  }

  .searchfield-dropdown {
    position: fixed;
    width: inherit;
    .pure-table {
      border: none;
      border-bottom: 1px solid $divider-color; // stylelint-disable-line
    }
    border: 1px solid $divider-color;  // stylelint-disable-line
    background-color: $primary-color-light;
  }

  .searchfield-dropdown-clickshield {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .search-icon {
    pointer-events: none;
    cursor: default;

    font-size: $searchicon-size;
    padding: 0;
    margin: 0;

    top: ($padding / 2);
    bottom: ($padding / 2);
    height: auto;
    position: absolute;
    right: ($padding / 2);
  }
}

.searchfield-cancel-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
