/*
  Tags
*/

* {
  font-family: FontAwesome, 'Open Sans', sans-serif;
  border-color: #BDBDBD;
}

body {
  background-color: $primary-color-light;
  min-width: 20em;
  position: relative;
}

// TODO: hr styling without px
// $hr-height: 10px;

// hr {
//   height: $hr-height;
//   border-style: solid; 
//   border-color: $divider-color; 
//   border-width: 1px 0 0 0; // stylelint-disable-line
//   border-radius: ($hr-height * 2); 

//   &:before {
//     display: block;
//     content: "";
//     height: $hr-height;
//     margin-top: (-1 * $hr-height);//-11px; (-1 * ($hr-height + 1px))
//     border-style: solid;
//     border-color: $divider-color;
//     border-width: 0 0 1px 0; // stylelint-disable-line
//     border-radius: ($hr-height * 2);
//   }
// }

h1, h2, h3, h4, h5, h6 {
  color: $primary-text-color;
}

label {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  display: inline;//inherit;
  &:visited, &:link {
    color: inherit;
  }

  &:hover {
    color: $accent-color;
    text-decoration: underline;
    span {
      color: $accent-color;
    }
  }

  &:active {
    color: $accent-color;
  }
}

input:not([type=checkbox]) {
  width: 100%;//  width: $input-width;
}

select {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  option {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
