/*
  Tags
*/

* {
  font-family: FontAwesome, 'Open Sans', sans-serif;
  border-color: #BDBDBD;
}

body {
  background-color: $primary-color-light;
  min-width: 20em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-text-color;
}

label {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  display: inline;//inherit;
  &:visited, &:link {
    color: inherit;
  }

  &:hover {
    color: $accent-color;
    text-decoration: underline;
    span {
      color: $accent-color;
    }
  }

  &:active {
    color: $accent-color;
  }
}

input:not([type=checkbox]) {
  height: 2.5em;
}

select {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  option {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

fieldset {
  padding-top: $padding;
  padding-bottom: $padding;
}
