//
// Constants
//

$element-height: 2.5rem;
$padding: 0.5rem !default;
$border-radius: ($padding / 3) !default;

$pure-sm: 568px !default; // stylelint-disable-line
$pure-md: 768px !default; // stylelint-disable-line
$pure-lg: 1024px !default; // stylelint-disable-line
$pure-xl: 1280px !default; // stylelint-disable-line

//
// Palette Colors
//

// materialpalette.com/light-green/pink

// materialpalette.com/green/brown
$primary-color-dark:   #388E3C !default; // UI element background
$primary-color:        #4CAF50 !default; // UI element background
$primary-color-light:  #C8E6C9 !default; // page background
$primary-color-text:   #FFFFFF !default; // Text/Icons: nav bar title
$accent-color:         #795548 !default; // accents
$primary-text-color:   #212121 !default; // h1 and friends
$secondary-text-color: #757575 !default; // Secondary Text: p tags and detail text
$divider-color:        #BDBDBD !default; // hr's

