//
// Constants
//

$element-height: 2.5rem !default;
$padding: 0.5rem !default;
$border-radius: ($padding / 2) !default;
$border-width: 1px !default; // stylelint-disable-line unit-whitelist

$pure-sm: 568px  !default; // stylelint-disable-line unit-whitelist
$pure-md: 768px  !default; // stylelint-disable-line unit-whitelist
$pure-lg: 1024px !default; // stylelint-disable-line unit-whitelist
$pure-xl: 1280px !default; // stylelint-disable-line unit-whitelist

