//
// Palette Colors
//

// materialpalette.com/light-green/pink

// materialpalette.com/green/brown
$primary-color-dark:   #388E3C; // UI element background
$primary-color:        #4CAF50; // UI element background
$primary-color-light:  #C8E6C9; // page background
$primary-color-text:   #FFFFFF; // Text/Icons: nav bar title
$accent-color:         #795548; // accents
$primary-text-color:   #212121; // h1 and friends
$secondary-text-color: #757575; // Secondary Text: p tags and detail text
$divider-color:        #BDBDBD; // hr's

// TODO: override colors here

/*
  $table-color:                   $primary-color;
  $table-border-color:            
  $table-header-background-color: 
  $table-header-color:            $primary-color-text;
  $table-body-row-stripe-color:   
  $table-body-row-hover-color:    
  $table-body-row-active-color:

  $button-color:            
  $button-background-color: 

  $input-color:            
  $input-background-color: 
  $input-disabled-color:   
  $input-border-color:          
  $input-selected-border-color: 
  $input-invalid-border-color:  

  $delete-button-color:

  $searchfield-color:           
  $searchfield-background-color:

  $loading-wheel-color:
  $loading-wheel-width:

  $header-color:
  $header-background-color
*/

@import "base";

// .primary {
//   color: $primary-text-color;
// }

// .secondary {
//   color: $secondary-text-color;
// }

// .light-text {
//   color: $primary-color-text;
// }

// .dark-text {
//   color: $primary-text-color;
// }


* {
  @include fa-font-family('Lato', sans-serif);
}

h1, h2, h3, h4, h5, h6 {
  //  color: $primary-text-color;
}

body {
  min-width: 20rem;
  position: relative;
  background-color: white;
}

label {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  display: inline;

  &:visited, &:link {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  // &:active {
  //   color: $accent-color;
  // }
}

/*
  Page layout
*/

.center {
  text-align: center;
}

#home {
  text-align: center;
  position: relative;
  transform: translateY(100%);
}

.content {
  margin: $padding;
}

.user {
  margin: $padding;
  text-align: center;
  img {
    border-radius: 50%;
  }
}

.userlink {
  display: inline;
}

.centered {
  @include flex-vh-center;
}

.italic {
  font-style: italic;
}

.section {
  $_factor: 1.5;
  margin-top: $padding * $_factor;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: $padding / $_factor;
  }

  p:first-of-type { // stylelint-disable-line declaration-colon-space-after
    margin-top: $padding / $_factor;
  }

  p:last-of-type { // stylelint-disable-line declaration-colon-space-after
    margin-bottom: $padding / $_factor;
  }
}

