@import "base";

/*
  Generic
*/

// h1, h2, h3, h4, h5, h6 {
//   font-size: 1.25em;
// }

// .primary {
//   color: $primary-text-color;
// }

// .secondary {
//   color: $secondary-text-color;
// }

// .tertiary {
//   color: $secondary-text-color;
// }

// .light-text {
//   color: $primary-color-text;
// }

// .dark-text {
//   color: $primary-text-color;
// }

// input[type], textarea, select {
//   &:focus {
//     border-color: $accent-color;
//   }
// }


thead {
  color: $primary-color-text;
  background-color: $primary-color;
}

* {
  @include fa-font-family('Lato', sans-serif);
}

h1, h2, h3, h4, h5, h6 {
  //   color: $primary-text-color;
}

body {
  // background-color: $primary-color-light;
  min-width: 20rem;
  position: relative;
}

label {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  display: inline;

  &:visited, &:link {
    color: inherit;
  }

  &:hover {
    // color: $accent-color;
    text-decoration: underline;
  }

  // &:active {
  //   color: $accent-color;
  // }
}

/*
  Page layout
*/

.center {
  text-align: center;
}

#home {
  text-align: center;
  position: relative;
  transform: translateY(100%);
}

.content {
  margin: $padding;
}

.user {
  margin: $padding;
  text-align: center;
  img {
    border-radius: 50%;
  }
}

.userlink {
  display: inline;
}

.header {
  @include shadowed-v;
  @include sticky;
  @include raised;

  height: auto;
  top: 0;
  background-color: white;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  // background: $primary-color-dark;

  .heading {
    @include fa-font-family('Hammersmith One');
    display: inline-block;
    margin: $padding;
    text-transform: uppercase;
    font-size: $element-height;
    line-height: 100%;
  }

  ul.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: $padding
    }
  }
}

.centered {
  @include flex-vh-center;
}

.italic {
  font-style: italic;
}

.section {
  $_factor: 1.5;
  margin-top: $padding * $_factor;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: $padding / $_factor;
  }

  p:first-of-type { // stylelint-disable-line declaration-colon-space-after
    margin-top: $padding / $_factor;
  }

  p:last-of-type { // stylelint-disable-line declaration-colon-space-after
    margin-bottom: $padding / $_factor;
  }
}

