//
// base.scss
//
// Base styles in Econesty.
//

@import "helpers";

/*
 Fonts
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

//
// Constants
//

$header-height: 50px;
$header-font-size: 1.25em;

$padding: 10px;

$shadow-dist: 2px;
$shadow-blur: 5px;

$pure-sm: 568px;
$pure-md: 768px;
$pure-lg: 1024px;
$pure-xl: 1280px;

//
// Palette Colors
//

// materialpalette.com/light-green/pink

// materialpalette.com/green/brown
$primary-color-dark:   #388E3C; // UI element background
$primary-color:        #4CAF50; // UI element background
$primary-color-light:  #C8E6C9; // page background
$primary-color-text:   #FFFFFF; // Text/Icons: nav bar title
$accent-color:         #795548; // accents
$primary-text-color:   #212121; // h1 and friends
$secondary-text-color: #757575; // Secondary Text: p tags and detail text
$divider-color:        #BDBDBD; // hr's

//
// Non-Palette Colors
//

$shadow-color: #999;

/*
  Tags
*/

* {
  font-family: FontAwesome, 'Open Sans', sans-serif;
  border-color: #BDBDBD;
}

body {
  background-color: $primary-color-light;
  min-width: 320px;
  position: relative;
}

hr {
  height: 10px; 
  border-style: solid; 
  border-color: $divider-color; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 

  &:before { 
    display: block; 
    content: ""; 
    height: 10px; 
    margin-top: -11px; 
    border-style: solid; 
    border-color: $divider-color; 
    border-width: 0 0 1px 0; 
    border-radius: 20px; 
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $primary-text-color;
}

a {
  text-decoration: none;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  display: inherit;
  &:visited, &:link {
    color: inherit;
  }

  &:hover {
    color: $accent-color;
    span {
      color: $accent-color;
    }
  }

  &:active {
    color: $accent-color;
  }
}

/*
  PureCSS Overrides
*/

.pure-button {
  background-color: $accent-color;
  color: white;
}

.pure-menu-heading {
  height: $header-height - $padding * 2;
  padding: $padding;
  display: inline-block;
  vertical-align: middle;
  * {
    padding-top: 1.5px;
    font-size: 20pt;
    line-height: 100%;
  }
}

.pure-form {
  fieldset {
    padding-top: $padding;
    padding-bottom: $padding;

    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='url'],
    input[type='checkbox'],
    textarea,
    select {
      &:focus {
        border-color: $accent-color;
      }
    }
  }
}

.pure-table thead {
  color: $primary-color-text;
  background-color: $primary-color;
}

.form-delete-button {
  float: right;
  height: 0;
  overflow: visible;
}

/*
  Text Styling
*/

.primary, h1, h2, h3, h4, h5, h6 {
  font-size: 20px;
  color: $primary-text-color;
}

.secondary, span, p {
  font-size: 14px;
  color: $secondary-text-color;
}

.light-text {
  color: $primary-color-text;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

/*
  Spacing
*/

.padded {
  padding: $padding;
}

.margined {
  margin: $padding;
}

/*
  Alignment
*/

.center {
  text-align: center;
}

/*
  Sizing
*/

.fill-width {
  width: 100%;
}

/*
  Miscellaneous
*/

.fixed {
  z-index: 100;
  position: fixed;
}

.raised {
  box-shadow: $shadow-dist $shadow-dist $shadow-blur $shadow-color;
}

.raised-v {
  box-shadow: 0px ($shadow-dist + 1) $shadow-blur $shadow-color;
}

.raised-h {
  box-shadow: ($shadow-dist + 1) 0px $shadow-blur $shadow-color;
}

/*
  Loading div from Components.Higher.asyncWithProps()
*/

.loading {
  border: 8px solid mix(rgba(255, 255, 255, 0), $accent-color, 50%); // Pale background for whole circle
  border-top: 8px solid $accent-color; // highlight a part of the circle in a bolder color.
  border-radius: 50%; // make it a circle
  width: 44px;
  height: 44px;
  animation: spin 2s linear infinite; // make it spin
  margin: auto; // make it centered
}

@include keyframes(spin) {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
  Collection styling from Components.Higher.collection()
*/

.collection {
  .collection-control {
    .collection-page-indicator {
      position: relative;
      height: 100%;
      width: 100%;
      span {
        position: absolute;
        width: 100%;
        top: 25%;
        display:block;
      }
    }
  }
}

/*
  Search Fields
*/

$searchfield-width: 190px;
$searchfield-height: 34px;
$searchicon-size: 24px;

.searchfield {
  .pure-control-group {
    margin-bottom: 0;
  }
  fieldset {
    padding: 0px;
  }
  color: $primary-text-color;
  .searchfield-dropdown {
    min-width: 190px;
    .pure-table {
      border: none;
      border-bottom: 1px solid $divider-color;
    }
    border: 1px solid $divider-color;
    background-color: $primary-color-light;
    width: $searchfield-width + $padding * 1.5;
  }
  .searchfield-dropdown-clickshield {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 99;
    background: transparent;
    width: 100%;
    height: 100%;
  }
  .search-icon {
    cursor: pointer;
    width: $searchicon-size;
    height: $searchicon-size;
    font-size: $searchicon-size;
    padding: 0px;
    margin: 0px;
    z-index: 1;

    position: absolute;
    right: $padding/2;
    bottom: 2px + $padding/2;
  }
}

.searchfield-cancel-button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
