@import "palette";
@import "constants";
@import "fonts";
@import "textfield";

.header {
  box-shadow: 0px 2px $divider-color;
  z-index: 70;
  background: $primary-color-dark;
  color: white;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height + 10px;
  vertical-align: middle;

  display: flex;
  justify-content: space-between;
  & > .header-item {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    height: $header-height;
    font-size: $header-font-size;
    font-family: 'Open Sans', sans-serif;
    &:nth-of-type(2) {
      margin-left: auto;
    }
  }
}

.searchfield {
  color: white;
  .searchfield-dropdown {
    top: $header-height + 10px;
    z-index: 100;
    position: fixed;
    background: $primary-color-light;
    color: $primary-color-text;
    margin: 0px;
    padding: 5px;
    box-shadow: 2px 2px $divider-color;
    width: $textfield-width;
  }
}



