@import "base";

/*
  Page layout
*/

.user {
  padding: $padding;
  text-align: center;
  img {
    border-radius: 50%;
  }
}

.header {
  background: $primary-color-dark;
}

.header-icon {
  color: $primary-color-text;
  font-size: 2em;
}

.header ul.pure-menu-list {
  float: right;
  li {
    padding-right: 0.5em;
    padding-left: 0.5em;
  }
}

.content {
  min-width: 320px;
  padding-top: $header-height;
  @media (max-width: 400px) {
    padding-top: $header-height + 45;
  }
}

.searchfield {
  .searchfield-dropdown {
    top: $header-height + 10px;
  }
}
