@import "base";

// User

.user {
  padding: $padding;
  text-align: center;
  img {
    border-radius: 50%;
  }
}

// @media (max-width: $pure-sm) {
//   .user {
//     width: 44px;
//   }
// }

// @media (max-width: $pure-md) {
//   .user {
//     width: 100px;
//   }
// }

// @media (max-width: $pure-lg) {
//   .user {
//     width: 130px;
//   }
// }

// @media (max-width: $pure-xl) {
//   .user {
//     width: 170px;
//   }
// }

.content {
  padding-top: $header-height;
}

.header {
  text-align: left;
  height: $header-height;
  background: $primary-color-dark;
}

.header-icon {
  color: $primary-color-text;
  font-size: 2em;
}

.header ul.pure-menu-list {
  float: right;
  li {
    padding-right: 1em;
  }
}

$searchfield-width: 190px; //150px;

.searchfield {
  color: $primary-text-color;
  .pure-table {
    border: none;
    border-bottom: 1px solid $divider-color;
  }
  .searchfield-dropdown {
    border: 1px solid $divider-color;
    top: $header-height + 10px;
    z-index: 100;
    position: fixed;
    background-color: $primary-color-light;
    width: $searchfield-width;
  }
  .search-icon {
    position: absolute;
    display: inline-block;
    top: 11px;
    right: 11px;
    background-color: transparent;
    width: 44px;
    height: 44px;
    font-size: 1.35em;
    text-align: center;
    pointer-events: none;
    display: inline-block;
    border: none;
  }
}

.transaction {
  margin-left: 5px;
  margin-right: 5px;
  height: 50px;
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  .box {
    height: 50px;
    line-height: 50px;
    margin-left: 1%;
    margin-right: 1%;
    width: 30%;
    vertical-align: middle;
    display: inline-block;
    color: $primary-text-color;
  }
}
