@import 'palette';
@import 'common';

$textfield-padding: 8px;
$textfield-fontsize: 16px;
$textfield-width: 120px;

.textfield {
  vertical-align: initial;
  font-size: initial;
  line-height: initial;
  color: inherit;
  height: ($textfield-padding * 4) + $textfield-fontsize;
  input[type=text], input[type=password], input[type=email], input[type=search], input[type=url] {
    padding-bottom: $textfield-padding; 
    padding-top: $textfield-padding * 2;
    border: none;
    border-bottom: 1px solid $divider-color;
    background-color: inherit;
    color: inherit;
    width: $textfield-width;
    font-size: $textfield-fontsize;
    font-weight: normal;
    outline: none;

    &:focus {
      border-bottom: 1px solid $accent-color;
    }

    &:focus ~ label, &:valid ~ label {
      top: -(($textfield-padding * 4) + $textfield-fontsize);
      font-size: $textfield-fontsize - 2px;
      color: $accent-color;
      @include transition('0.2s ease all');
    }
  }

  label {
    display: block;
    font-size: $textfield-fontsize;
    font-weight: normal;
    position: relative;
    pointer-events: none;
    top: -(($textfield-padding * 2) + $textfield-fontsize);
    @include transition('0.2s ease all');
  }
}
