/*
  <DeleteButton /> component
*/

@import "base/variables";
@import "base/mixins";

.delete-button {
  float: right;
  height: $element-height;
  width: $element-height;
  margin: 0;
  @include flex-vh-center;
}
