/*
  <DeleteButton /> component
*/

.delete-button {
  float: right;
  height: 0;
  overflow: visible;
  margin: 0;
  padding-left: $padding/2;

  // Make the icon height accurate
  display: table;
  &::before {
    display: table-cell;
    vertical-align: middle;
  }
}
