/*
  <DeleteButton /> component
*/

@import "base/variables";

.delete-button {
  float: right;
  height: $element-height;
  width: $element-height;
  overflow: visible;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
