/*
  <Labelled /> component
*/

.labelled {
  & > * {
    position: relative;
    label {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 33%;
      width: 100%;
      line-height: 100%;
    }
  }
}

@media (max-width: $pure-sm) {
  .labelled {
    & > * {
      display: block;
      label {
        margin: $padding 0;
        position: initial;
        width: 100%;
      }
    }
  }
}
