/*
  <Labelled /> component
*/

@import "base/variables";

.labelled {
  display: flex;
  align-items: center;
  justify-content: center;
  label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: $pure-sm) {
  .labelled {
    & > * {
      display: block;
      label {
        margin: $padding 0;
        position: initial;
        width: 100%;
      }
    }
  }
}
