/*
  <Loading /> component
*/

@import "base/mixins";
@import "base/variables";

@include keyframes(spin) {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  border: 0.5em solid mix(rgba(255, 255, 255, 0), $accent-color, 50%); // Pale background for whole circle
  border-top: 0.5em solid $accent-color; // highlight a part of the circle in a bolder color.
  border-radius: 50%; // make it a circle
  width: $element-height;
  height: $element-height;
  animation: spin 2s linear infinite; // make it spin
  margin: auto; // make it centered
}
