/*
  <SearchField /> component
*/

@import "base/mixins";
@import "base/variables";

.searchfield {
  $searchicon-size: 1.5em;

  overflow: visible;
  color: $primary-text-color;
  position: relative;
  display: inline-block;

  fieldset {
    padding: 0;
  }

  .searchfield-dropdown {
    @include shadowed-v;
    @include raised;
    position: fixed;
    width: $input-width - $padding;
    .pure-table {
      border: none;
    }
    border: 1px solid $divider-color;  // stylelint-disable-line
    background-color: $primary-color-light;
  }

  .search-icon {
    // Make the cursor ignore the search icon
    pointer-events: none;
    cursor: default;

    font-size: $searchicon-size;
    padding: 0;
    margin: 0;

    position: absolute;
    top: ($padding / 2);
    bottom: ($padding / 2);
    right: ($padding / 2);
    left: auto;
    height: auto;
  }
}
