/*
  <SearchField /> component
*/

@import "base/mixins";
@import "base/variables";
@import "base/components/input"; // for $input-border-width

.searchfield {
  position: relative;
  display: inline-block;
  width: 100%;

  input:focus {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: $padding + toRem($input-border-width);
  }

  .searchfield-dropdown-container {
    margin: 0;
    *:not(.loading) {
      margin: 0;
    }

    // Prevent interference with page & build new coord system
    position: relative;
    height: 0;
    overflow: visible;

    .searchfield-dropdown {
      @include raised;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      table {
        border-radius: inherit;
        border: none;
        tbody {
          border-radius: inherit;
          td:not(.searchfield-noresults) {
            cursor: pointer;
          }
	  
          tr:nth-last-child(1) {
            border-radius: inherit;
            td {
              border-radius: inherit;
            }
          }
        }
      }

      display: table;
      width: calc(100% - 1px); // stylelint-disable-line unit-whitelist

      border: $input-border-width solid $input-selected-border-color;
      border-top: none;
      background-color: white;

      .searchfield-noresults {
        text-align: center;
        margin: $padding auto;
        background-color: white;
      }
    }
  }

  .searchfield-value-link {
    padding-left: $padding;
    height: $element-height;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-icon {
    // Make the cursor ignore the search icon
    pointer-events: none;
    cursor: default;

    // Make the icon height accurate
    display: table;
    &::before {
      display: table-cell;
      vertical-align: middle;
    }

    font-size: $element-height - ($padding * 2);
    padding: 0;
    margin: $padding/4;

    position: absolute;
    top: ($padding / 2);
    bottom: ($padding / 2);
    right: ($padding / 2);
    left: auto;
    height: auto;
  }
}
