/*
  <Table /> component
*/

table {
  $table-color: white !default !global;
  $table-header-color: darken($table-color, 12) !default !global;
  $table-header-text-color: invert($table-header-color) !default !global;
  $table-body-row-stripe-color: darken($table-color, 5) !default !global;
  $table-body-row-hover-color: darken($table-color, 15) !default !global;
  $table-body-row-active-color: darken($table-color, 20) !default !global;

  background-color: $table-color;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb; // stylelint-disable-line unit-whitelist

  td, th {
    border-left: 1px solid #cbcbcb; /* inner column border */ // stylelint-disable-line unit-whitelist
    border-width: 0 0 1px 0px; // stylelint-disable-line unit-whitelist
    font-size: inherit;
    margin: 0;
    overflow: visible; // compat with long titles
    overflow: hidden;
    padding: 0.5em 1em; // cell padding
  }

  thead {
    text-align: left;
    vertical-align: bottom;
  
    background-color: $table-header-color;
    color: $table-header-text-color;
  }

  &.table-striped tbody {
    tr:nth-child(2n-1) {
      td {
        background-color: $table-body-row-stripe-color;
      }
    }
  }

  &.table-selectable tbody {
    tr:hover td {
      background-color: $table-body-row-hover-color;
    }
    tr:active td {
      background-color: $table-body-row-active-color;
    }
  }
}

