@import "../../palette.scss";

$table-text-color:              $text-color;
$table-color:                   $primary-color;
$table-border-color:            $border-color;
$table-body-row-color:          white;
$table-header-background-color: $primary-color;
$table-header-color:            white;
//$table-body-row-stripe-color:   
//$table-body-row-hover-color:    
//$table-body-row-active-color:   
