/*
  <Button /> component
*/

@import "../mixins";
@import "../variables";

button {
  // Configuration
  $button-color:            #333333 !default !global;
  $button-background-color: #E6E6E6 !default !global;

  color: $button-color;
  background-color: $button-background-color;

  // Structure
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  height: $element-height;
  padding: $padding (2 * $padding);
  border-radius: $border-radius;
  margin: $padding;

  &:hover {
    background-color: darken($button-background-color, 10%);
  }

  &:active {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 0.5rem rgba(0,0,0,0.2) inset; // stylelint-disable-line unit-whitelist
  }

  &[disabled] {
    border: none;
    background-image: none;
    filter: opacity(40%);
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
  }
}
