/*
  <Button /> component
*/

@import "../mixins";
@import "../variables";

button {
  // Configuration
  $button-color:            #333333 !default !global;
  $button-background-color: #E6E6E6 !default !global;

  // Structure
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  height: $element-height;

  // Style
  //font-family: inherit;
  font-size: 100%;
  padding: $padding (2 * $padding);
  border: none;
  text-decoration: none;
  border-radius: $border-radius;
  margin: $padding;

  color: $button-color;
  background-color: $button-background-color;

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover {
    background-color: darken($button-background-color, 10%);
  }

  &:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset; // stylelint-disable-line unit-whitelist
  }

  &:focus {
    outline: none;
  }

  &[disabled] {
    border: none;
    background-image: none;
    filter: opacity(40%);
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
  }
}
