/*
  <Collapsible /> component
*/

@import "../mixins";
@import "../variables";

.collapsible {
  label {
    @include no-select;
    cursor: pointer;
  }

  .disclosure {
    padding: $padding;
  }

  .drawer-content {
    padding-left: 4 * $padding;
  }
}

