/*
  <DeleteButton /> component
*/

@import "../variables";
@import "../mixins";

.delete-button {
  $delete-button-color: #000000 !default !global;

  color: $delete-button-color;
  margin: 0;
  padding: $padding;
}
