/*
  <DeleteButton /> component
*/

@import "../variables";
@import "../mixins";

.delete-button {
  $delete-button-color: #000000 !default !global;

  color: $delete-button-color;
  float: right;
  height: $element-height;
  width: $element-height;
  margin: 0;
  @include flex-vh-center;
}
