/*
  <Frown /> component
*/

@import "../mixins";
@import "../variables";

$frown-icon-size: 1rem !default;
$frown-icon-size-medium: 1rem !default;
$frown-icon-size-large: 10rem !default;

.frown-icon {
  opacity: 0.4;
  font-size: $frown-icon-size;
}

.frown-icon-medium {
  font-size: $frown-icon-size-medium;
}

.frown-icon-large {
  font-size: $frown-icon-size-large;
}

