/*
  <Header /> component
*/

@import "../variables";
@import "../mixins";

.header {
  $header-color: black !default !global;
  $header-background-color: white !default !global;
  $header-shadow-color: #222222 !default !global;
  $header-title-font: sans-serif !default !global;
  $header-title-fallback-font: sans-serif !default !global;

  color: $header-color;
  background-color: $header-background-color;
  border-bottom: $border-width solid $header-shadow-color; // stylelint-disable-line unit-whitelist

  .heading {
    @include user-select(none);
    font-family: $header-title-font, $header-title-fallback-font;
    font-size: $element-height;
  }
}
