/*
  <Input /> & <Select /> component
*/

@import "../variables";
@import "../mixins";

input[type], textarea {
  padding: $padding;
  box-sizing: border-box;
}

select {
  $select-disclosure-icon-width: 1rem !default !global;
  $select-disclosure-icon-url: 'data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z" class=""></path></svg>' !default !global;

  @include appearance(none);
  background: url($select-disclosure-icon-url) right / ($select-disclosure-icon-width / 2) no-repeat white;
  background-position-x: calc(100% - #{$select-disclosure-icon-width / 2});
  padding: 0;
  padding-left: $padding;
  padding-right: $padding + $select-disclosure-icon-width;
  line-height: 100%;
}

input[type], textarea, select {
  $input-color:                 #000000 !default !global;
  $input-placeholder-color:     #777777 !default !global;
  $input-background-color:      #FFFFFF !default !global;
  $input-disabled-color:        #CAD2D3 !default !global;
  $input-border-color:          #CCCCCC !default !global;
  $input-selected-border-color: #129FEA !default !global;
  $input-invalid-border-color:  #B94A48 !default !global;

  color: $input-color;
  background-color: $input-background-color;
  border: $border-width solid $input-border-color;
  border-radius: $border-radius;
  vertical-align: middle;

  margin: 0;
  width: 100%;

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:not([type=checkbox]) {
    height: $element-height;
  }

  &[disabled] {
    background-color: #eaeded;
    color: $input-disabled-color;
  }

  &:invalid {
    color: $input-invalid-border-color;
  }

  &:focus {
    outline: 0;
    &:not(:invalid) {
      border-color: $input-selected-border-color;
    }
    &:invalid {
      border-color: $input-invalid-border-color;
    }
  }
}

