/*
  <Loading /> component
*/

@import "../mixins";
@import "../variables";

.loading {
  $loading-wheel-color: #555555 !default !global;
  $loading-wheel-width: 0.5rem !default !global;

  border: $loading-wheel-width solid mix(rgba(255, 255, 255, 0), $loading-wheel-color, 50%); // Pale background for whole circle
  border-top: $loading-wheel-width solid $loading-wheel-color; // highlight a part of the circle in a bolder color.
  border-radius: 50%; // make it a circle
  width: $element-height * 1.5;
  height: $element-height * 1.5;
  margin: 0 auto;
  box-sizing: border-box;
}

div[transparent="true"] .loading-container {
  height: 0;
  overflow: visible;
  .loading {
    height: $element-height * 1.5;
  }
}
