/*
  <Loading /> component
*/

@import "../mixins";
@import "../variables";

.loading-bar {
  $loading-color: #555555 !default !global;
  background-color: mix(rgba(255, 255, 255, 0), $loading-color, 50%);
  .progress {
    background-color: $loading-color;
  }
}

