/*
  <SearchField /> component
*/

@import "../mixins";
@import "../variables";
@import "./input";

.searchfield {
  $searchfield-color:             #000000 !default !global;
  $searchfield-background-color:  #FFFFFF !default !global;

  input {
    color: $searchfield-color;
    background-color: $searchfield-background-color;
    padding-right: $element-height - ($padding/2);
  }

  .searchfield-dropdown {
    border: $border-width solid $input-selected-border-color;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    color: $searchfield-color;
    background-color: $searchfield-background-color;

    table {
      td, th {
        color: $searchfield-color;
      }
    }
  }
  
  .searchfield-value-link {
    height: $element-height;
  }

  .search-icon {
    top: $padding;
    bottom: $padding;
    right: $padding;

    path {
      fill: $input-placeholder-color;
    }

    height: $element-height - ($padding * 2);
  }
}
