/*
  <SearchField /> component
*/

@import "../mixins";
@import "../variables";
@import "./input";

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.searchfield {
  $searchfield-color:             #000000 !default !global;
  $searchfield-background-color:  #FFFFFF !default !global;

  position: relative;
  width: 100%;

  * {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }

  input {
    outline-offset: 0;
    width: 100%;
    color: $searchfield-color;
    background-color: $searchfield-background-color;
    &:focus {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: $padding + toRem($border-width);
    }
  }

  .searchfield-dropdown-container {
    margin: 0;

    position: static;

    // Prevent interference with page & build new coord system
    height: 0;
    overflow: visible;
    width: 100%;

    .searchfield-dropdown {
      display: table;
      .loading {
        display: table;
        margin-bottom: $padding;
      }
      @include raised;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;

      width: 100%;

      border: $border-width solid $input-selected-border-color;
      border-top: none;

      color: $searchfield-color;
      background-color: $searchfield-background-color;

      table {
        border: none;
        border-radius: inherit;
        tbody {
          border-radius: inherit;

          td, th {
            color: $searchfield-color;
          }

          td:not(.searchfield-noresults) {
            cursor: pointer;
          }
	  
          tr:nth-last-child(1) {
            border-radius: inherit;
            td {
              border-radius: inherit;
            }
          }
        }
      }

      .searchfield-noresults {
        text-align: center;
        margin: $padding auto;
        background-color: $searchfield-background-color;
      }
    }
  }

  .searchfield-value-link {
    height: $element-height;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-icon {
    color: $input-placeholder-color;

    // Make the cursor ignore the search icon
    pointer-events: none;
    cursor: default;

    @include flex-vh-center;

    font-size: $element-height - ($padding * 2);
    padding: 0;
    margin: $padding/4;

    position: absolute;
    top: ($padding / 2);
    bottom: ($padding / 2);
    right: ($padding / 2);
    left: auto;
    height: auto;
  }
}
