/*
  <Table /> component
*/

@import "../variables";

table {
  $table-text-color:              #000000 !default !global;
  $table-color:                   #FFFFFF !default !global;
  $table-border-color:            #CBCBCB !default !global;
  $table-body-row-color:          $table-color !default !global;
  $table-header-background-color: darken($table-color, 12) !default !global;
  $table-header-color:            invert($table-header-background-color) !default !global;
  $table-body-row-stripe-color:   darken($table-body-row-color, 5) !default !global;
  $table-body-row-hover-color:    darken($table-body-row-color, 15) !default !global;
  $table-body-row-active-color:   darken($table-body-row-color, 20) !default !global;

  width: 100%;
  border: $border-width solid $table-border-color;
  background-color: $table-body-row-color;

  td, th {
    padding: $padding;
  }

  th {
    background-color: $table-header-background-color;
    color: $table-header-color;
  }

  thead {
    text-align: left;
  }

  tr {
    background-color: transparent;
  }

  &.table-striped tr:nth-child(2n-1) {
    background-color: $table-body-row-stripe-color;
  }

  &.table-selectable {
    tr:hover {
      cursor: pointer;
      background-color: $table-body-row-hover-color;
    }

    tr:active {
      background-color: $table-body-row-active-color;
    }
  }
}

