/*
  <Table /> component
*/

@import "../mixins";
@import "../variables";

@mixin set-table-row-color($color) {
  tr {
    background-color: $color;
  }
}

@mixin set-table-stripe-color($color) {
  &.table-striped tr:nth-child(2n-1) {
    background-color: $color;
  }
}

@mixin set-table-row-hover-color($color) {
  &.table-selectable tr:hover {
    background-color: $color;
  }
}

@mixin set-table-row-active-color($color) {
  &.table-selectable tr:active {
    background-color: $color;
  }
}

table {
  $table-text-color:              #000000 !default !global;
  $table-color:                   #FFFFFF !default !global;
  $table-border-color:            #CBCBCB !default !global;
  $table-body-row-color:          $table-color !default !global;
  $table-header-background-color: darken($table-color, 12) !default !global;
  $table-header-color:            invert($table-header-background-color) !default !global;
  $table-body-row-stripe-color:   darken($table-body-row-color, 5) !default !global;
  $table-body-row-hover-color:    darken($table-body-row-color, 15) !default !global;
  $table-body-row-active-color:   darken($table-body-row-color, 20) !default !global;

  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  border: $border-width solid $table-border-color; // stylelint-disable-line unit-whitelist
  width: 100%;

  td, th {
    font-size: inherit;
    margin: 0;
    padding: $padding ($padding * 2);
    border: none;
    min-height: $element-height;
  }

  td {
    color: $table-text-color;
  }

  tr {
    width: 100%;
    border: none;
  }

  th {
    background-color: $table-header-background-color;
    color: $table-header-color;
  }

  thead {
    text-align: left;
    vertical-align: bottom;
  }

  &.table-selectable tbody {
    * {
      @include user-select(none);
    }
    tr:hover {
      cursor: pointer;
    }
  }

  @include set-table-row-color($table-body-row-color);
  @include set-table-stripe-color($table-body-row-stripe-color);
  @include set-table-row-hover-color($table-body-row-hover-color);
  @include set-table-row-active-color($table-body-row-active-color);
}

