<html>
<head>
  <title>HTML5 Canvas Signature Field</title>
  <style>
    .sigfield {
      border: 1px solid black;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <canvas class="sigfield" id="canvas" width="320" height="200"></canvas>
  
  <!--
    TODO: button that takes the current signature field and 
    generates SVG content, adding it to the page.
   -->
  
  <script>
    var c = document.getElementById("canvas");
    c.addEventListener("mousedown", onMouseDown, false);
    c.addEventListener("mouseup", onMouseUp, false);
    c.addEventListener("mousemove", onMouseMove, false);
    var ctx = c.getContext("2d");
    
    var paths = []        // all finished paths [[Int]]
    var currentPath = []  // currently accumulating path [Int]

    var isMouseDown = false;
    
    function onMouseDown(e) {
      isMouseDown = true;
      ctx.beginPath();
      ctx.moveTo(e.pageX, e.pageY);
      ctx.stroke();
      currentPath.push(e.pageX);
      currentPath.push(e.pageY);
    }
    
    function onMouseUp(e) {
      if (isMouseDown) {
        isMouseDown = false;
        
        ctx.lineTo(e.pageX, e.pageY);
        ctx.stroke();
        
        currentPath.push(e.pageX);
        currentPath.push(e.pageY);

        if (currentPath.length > 0) {
          paths.push(currentPath);
          console.log(currentPath);
          currentPath = [];
        }
      }
    }
    
    function onMouseMove(e) {
      if (isMouseDown) {
        ctx.lineTo(e.pageX, e.pageY);
        ctx.stroke();
        currentPath.push(e.pageX);
        currentPath.push(e.pageY);
      }
    }
  </script>
</body>
</html>
