@import "../../palette.scss";
@import "base/variables";
@import "base/mixins";

@import url("https://fonts.googleapis.com/css?family=Inconsolata");

* {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: $text-color;
}

body {
  min-width: 20rem;
  position: relative;
  background-color: white;
}

label {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
  label {
    cursor: pointer;
  }
  display: inline;

  &:visited, &:link {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $accent-color;
  }
}

/*
  Page layout
*/

.center {
  text-align: center;
}

.content {
  margin: $padding;
}

.user {
  margin: $padding;
  text-align: center;
  img {
    border-radius: 50%;
  }
}

.user-row {
  display: flex;
  align-items: center;
  img {
    margin-right: $padding;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
}

.frown-message {
  opacity: 0.4;
  margin: $padding;
  text-align: center;
  .frown-icon {
    @include flex-vh-center;
  }
}

.userlink {
  display: inline;
}

.centered {
  @include flex-vh-center;
}

.italic {
  font-style: italic;
}

.section {
  $_factor: 1.5;
  margin-top: $padding * $_factor;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: $padding / $_factor;
  }

  p:first-of-type { // stylelint-disable-line declaration-colon-space-after
    margin-top: $padding / $_factor;
  }

  p:last-of-type { // stylelint-disable-line declaration-colon-space-after
    margin-bottom: $padding / $_factor;
  }
}

/*
  Wallets page
*/

.wallets {
  .primary {
    text-align: center;
    width: 100%;
  }

  .wallet-create-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: $padding;
    form.input-form {
      width: 100%;
      input {
        text-align: center;
      }
    }
  }
  
  .wallet-row {
    p.crypto-text {
      font-family: 'Inconsolata', monospace;
      letter-spacing: 1px; // stylelint-disable-line unit-whitelist
      max-width: 100%;
      white-space: pre-wrap;      /* CSS3 */   
      white-space: -moz-pre-wrap; /* Firefox */    
      white-space: -pre-wrap;     /* Opera <7 */   
      white-space: -o-pre-wrap;   /* Opera 7 */    
      word-wrap: break-word;      /* IE */
      word-break: break-all;
    }
    &.testnet {
      p.testnet-label {
        transform: rotate(180deg);
        margin: 0;
        margin-right: $padding;
        text-align: center;
        color: $accent-color;
        writing-mode: vertical-lr;
      }
    }
  }
}


